<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>"Checho" Basile</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../css/styles.css" />
  </head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DTMFNY9VSS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JZDQ94WP24');
</script>


  <body>
    <header class="container">
      <div class="row justify-content-end text-center">
        <div class="col col-1 iconsDiv">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="col col-1 iconsDiv">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="col col-1 iconsDiv">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </header>

    <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="../index.html"><img src="../img/logo.png"  width="34%" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color: rgb(243,114,44);color:rgb(243,114,44);"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 25%;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 pl-5">
            <li class="nav-item mx-3">
              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item mx-3">
              <a href="novedades.html" class="nav-link" href="#">Novedades</a>
            </li>
            <li class="nav-item mx-3">
              <a href="proyectos.html" class="nav-link">Proyectos</a>
            </li>
            <li class="nav-item mx-3">
              <a href="grooming.html" class="nav-link">Grooming</a>
            </li>
            <li class="nav-item mx-3">
              <a href="contact.html" class="nav-link">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container-fluid" id="encabezado">
      <div class="row align-items-center">
        <div class="col col-12 text-center pt-5">
          <h2>Violencia en el Noviazgo</h2>
        </div>
      </div>
    </section>


    <section class="container-fluid" id="groomingViolencia">
        <div class="row justify-content-center">
            <!-- <div class="col col-10 col-xl-4 mr-1 mt-5 text-end">
                <img src="../img/my.png" alt="">
            </div>
            <div class="col col-10 col-xl-4 mt-5 displayedImg">
                <img src="../img/my.png" alt="">
            </div> -->
            <div class="col col-10 col-xl-6 mt-5 text-center">
                <span class="blueSpan">Provocar un cambio</span>
                <h2>Campaña contra la Violencia en el Noviazgo</h2>
                <p class="mt-4 pb-5 text-start">Es primordial visibilizar e interrogarnos sobre conductas aprendidas, desnaturalizando viejos estereotipos, para posibilitar un cambio en los vínculos de noviazgo,  comprendiéndolos libres de violencia. Por eso con un equipo de trabajo interdisciplinario llevamos adelante una campaña contra la Violencia en el Noviazgo, donde brindamos charlas en diferentes instituciones para que adolescentes puedan detectar y prevenir la violencia en sus relaciones. </br></br>
                También presentamos una ley que ya fue sancionada donde se establece que cada 10 de mayo se conmemore el Día de la Prevención y Visibilizacòn de la Violencia en el Noviazgo.</p>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="groomingVideo">
        <div class="row justify-content-center">
            <div class="col col-12 mb-4 text-center">
                <iframe  src="https://www.youtube.com/embed/ppRK3mZEmpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>


    <section class="container-fluid my-4">
      <div class="row justify-content-center">
        <div class="col col-10 col-xl-6">
          <h2>Test sobre noviazgos violentos</h2>
          <p>¿Querés saber si en tu noviazgo sufrís algún tipo de violencia? Deberás marcar la respuesta que creas correcta. Sumá cada puntaje y comparalo con el índice de violencia que se presenta al final.</p>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col col-10 col-xl-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q1">
            <label class="form-check-label">
              Te controla queriendo saber qué haces todo el tiempo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q19">
            <label class="form-check-label">
              Las decisiones de salidas son compartidas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q2">
            <label class="form-check-label">
              Cuando discuten golpea algún objeto, pared, mesa, etc 
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q5">
            <label class="form-check-label">
              Te humilla y ridiculiza frente a otras personas  
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q6">
            <label class="form-check-label">
              Te genera miedo con amenazas 
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q15">
            <label class="form-check-label">
              En la relación hay respeto y comunicación
            </label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q9">
            <label class="form-check-label">
              Te revisa el celular o te pide saber la contraseña
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="q24">
            <label class="form-check-label">
              Te empuja o golpea 
            </label>
          </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q10">
            <label class="form-check-label">
              No te deja subir fotos o agregar personas a tus redes sociales 
            </label>
          </div>
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q18">
            <label class="form-check-label">
              En el noviazgo ninguno decide por el otro 
            </label>
          </div>

         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="q12">
            <label class="form-check-label">
              Te hace bromas hirientes o piropos ofensivos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q3">
            <label class="form-check-label">
              Toma todas las decisiones
            </label>
          </div>
  
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="q13">
            <label class="form-check-label">
              Hace malos comentarios sobre tus amistades para alejarte 
            </label>
          </div>
                             <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q11">
            <label class="form-check-label">
              Destruye objetos cuando discuten o está enojada/o 
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="q14">
            <label class="form-check-label">
              Te dice cómo vestirte y comportarte en público 
            </label>
          </div>


                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q16">
            <label class="form-check-label">
              Te sentís querida/o y respetada/o
            </label>
          </div>
                  <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q4">
            <label class="form-check-label">
              Te culpabiliza por ciertas acciones 
            </label>
          </div>
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q17">
            <label class="form-check-label">
              Pueden conversar si hay diferencias
            </label>
          </div>
          
     
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="q25">
            <label class="form-check-label">
             Te grita y te insulta 
            </label>
          </div>
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q20">
            <label class="form-check-label">
              Te sentís a gusto con tu pareja sin necesidad de cambiar u ocultar cosas 
            </label>
          </div>
                    <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q7">
            <label class="form-check-label">
              Descalifica tus opiniones 
            </label>
          </div>
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q21">
            <label class="form-check-label">
              Las relaciones sexuales son placenteras y consentidas para ambos
            </label>
          </div>

                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="q23">
            <label class="form-check-label">
              Amenaza con matarse o matarte si querés terminar la relación 
            </label>
          </div>


      
          

                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="q26">
            <label class="form-check-label">
              Te obliga a tener relaciones sexuales 
            </label>
          </div>
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="q27">
            <label class="form-check-label">
              Te ha privado de salir o vincularte con tus seres queridos
            </label>
          </div>
                    <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="q8">
            <label class="form-check-label">
              Es celoso al punto de inventar situaciones
            </label>
          </div>
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="q28">
            <label class="form-check-label">
              Luego de discutir o golpearte te dice que vos la/lo ponés así 
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="0" id="q22">
            <label class="form-check-label">
              No hay agresiones verbales 
            </label>
          </div>
                   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="q29">
            <label class="form-check-label">
              Te obligó a consumir drogas
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col col-10 col-xl-6 text-center">
          <button class="btn btn-success" onclick="resuelveTest()" data-bs-toggle="modal" data-bs-target="#exampleModal">Resolvé el Test</button>
        </div>
      </div>
    </section>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Resultado del Test</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modalCuerpo">
       
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
     
          </div>
        </div>
      </div>
    </div>

    

   <footer class="container-fluid">
      <div class="row justify-content-around">
        <div class="col col-12 mt-5 text-center">
          <img src="../img/logo2.jpg" alt="">
        </div>
        <div class="col col-12 col-xl-5 mt-5 text-end">
          <div class="row justify-content-end">
            <div class="col col-1 iconsDiv pr-3">
              <a href="https://www.facebook.com/sergiojbasile" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <div class="col col-1 iconsDiv">
              <a href="https://twitter.com/chechobasile" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="col col-1 iconsDiv">
              <a href="https://www.instagram.com/checho.basile/?hl=es" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col col-12 col-xl-5 mt-5">
          <p class="pl-3"><i class="fa-solid fa-phone"></i> 342-457 3163 int 178</p>
        </div>
        <di class="col-12 mt-5 text-center">
            <p>Sergio "Checho" Basile. Diputado Provincial</p>
        </div>
      </div>
    </footer>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="../js/noviazgo.js"></script>
  </body>
</html>
